/* Universal Selectors */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

/* Fonts */
h1 {
    font-family: "broadacre-regular-0", sans-serif;
}

/* Sections */
.section {
    position: relative;
    display: block;
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    align-content: center;
    background: url('/assets/images/hero-desktop.jpg') center /cover;
}

.container {
    padding-top: 10em;
    height: 100vh;
    text-align: center;
}

.input {
    width: 25em;
}

/* Footer */
.footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 12px;
}

/* Responsive Elements */
@media screen and (max-width: 768px) {
.section {
    background-image: url('/assets/images/hero-tablet.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.input {
    width: 20em;
}

@media screen and (max-width: 576px) {
.section {
    background-image: url('/assets/images/hero-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 85%;
}

.container {
    padding-top: 3em;
    height: calc(100vh - 48px);
    margin: 0 auto;
    text-align: center;
}

.input {
    width: 20em;
}